<h1>Welcome User </h1>

<div class="userprofile">
  <%= image_tag("profile_pic.png", width:"300", height:"300") %>
  <p class="user-bio">
    <% userbio = 1 %>
    <%= link_to "Edit Photo", page_path("editphoto") %>
    <%= link_to "Edit Bio", page_path("editbio") %>
  </p>
</div>

<div class ="uservideos">
  <%= button_to "Add Video", page_path("addvideo") %>
  <div class="videotable">
    <ul>
      <% uservideoeach = 1 %>
        <li>
          <p> videocontent </p>
          <p> videodescription </p>
          <%= link_to "Edit Video", page_path("editvideo") %>
        </li>
      <% theend = 1 %>
    </ul>
  </div>
</div>
