<h1><%= @user.username %>'s Page</h1>

<div class="userprofile">
  <%= image_tag @user.avatar.url(:medium) %>
  <p class="user-bio">
    <%= @user.bio_content %>
  </p>
</div>

<div class="videotable">
  <ul>
    <% @user.videos.each do |video| %>
      <li>
        <p> <%= link_to video.name, user_video_path(@user, video) %> </p>
        <p> <%= video.description %> </p>
      </li>
    <% end %>
  </ul>
</div>
