<h1><%= @user.username %>'s Page</h1>

<div class="userprofile">
  <%= image_tag @user.avatar.url(:medium) %>
  <p class="user-bio">
    <%= @user.bio_content %>
  </p>
</div>

<fieldset>
  <% if current_user.validate_user(@user) %>
    <%= form_for @user, url: user_path, html: { multipart: true } do |form| %>
      <div>
        <%= form.text_area :bio_content %>
      </div>
      <div>
        <%= form.file_field :avatar %>
      </div>
      <div>
        <%= form.submit "Update User Info" %>
      </div>
    <% end %>
  <% end %>
</fieldset>

<div class ="uservideos">
  <%= button_to "Add Video", new_user_video_path(current_user), method: :get %>
  <div class="videotable">
    <ul>
      <% @user.videos.each do |video| %>
        <li>
          <p> <%= video.name %> </p>
          <p> <%= video.description %> </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
