<%= form_for :user, url: page_path("dashboard"), html: { method: :get } do |form| %>

  <div class="formfields">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div class="formfields">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div class="formfields">
    <%= form.submit "Sign up" %>
  </div>
<% end %>
