<h1>This is <%= current_user.username %></h1>

<div class="userprofile">
  <%= image_tag current_user.avatar.url(:medium) %>
  <p class="user-bio">
    <%= current_user.bio_content %>
  </p>
</div>

<fieldset>
  <%= form_for current_user do |form| %>
    <div>
      <%= form.text_area :bio_content %>
    </div>
    <div>
      <%= form.file_field :avatar %>
    </div>
    <div>
      <%= form.submit "Update User Info" %>
    </div>
  <% end %>
</fieldset>

<div class ="uservideos">
  <%= button_to "Add Video", new_video_path, method: :get %>
  <div class="videotable">
    <ul>
      <% current_user.videos.each do |video| %>
        <li>
        <p> <%= link_to video.name, video_path(video) %> </p>
        <p> <%= video.description %> </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
