<!DOCTYPE html>
<html>
  <head>
    <title>A2KS</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <fieldset class="header">
      <%= form_tag page_path("search"), method: :get do %>
        <%= search_field_tag :search, params[:search], placeholder: "SEARCH" %>
        <%= submit_tag "GO" %>
      <% end %>
    </fieldset>

    <%= yield %>
    <fieldset class="footer">
      <%= link_to "Home", page_path("home"), class: "home" %>
      <%= link_to "About", page_path("about"), class: "about" %>
      <%= link_to "Contact", page_path("contact"), class: "contact" %>
    </fieldset>
  </body>
</html>
