<!DOCTYPE html>
<html>
  <head>
    <title>A2KS</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript"> <!-- Video.js Player -->
      document.createElement('video');
      document.createElement('audio');
      document.createElement('track');
    </script>
  </head>
  <body>
    <nav class="sidebar">
      <ol>
        <h3>Categories</h3>
        <% @tags.each do |tag| %>
          <li>
          <%= link_to tag.name, search_path(search: tag.name) %>
          </li>
        <% end %>
      </ol>
    </nav>
    <header class="header">
      <div class="container">
        <%= form_tag search_path, method: :get do %>
          <%= search_field_tag :search, params[:search],
            placeholder: "SEARCH", class: "video-search" %>
        <% end %>
        <nav class="app-nav">
          <ol>
            <li>
              <%= button_to "Home", root_path, method: :get %>
            </li>
            <% if signed_in? %>
              <li>
                <%= button_to "Sign out", session_path, method: :delete %>
              </li>
              <li>
                <%= button_to "My Dashboard", dashboard_path, method: :get %>
              </li>
            <% else %>
              <li>
                <%= button_to "Sign in", new_session_path, method: :get %>
              </li>
              <li>
                <%= button_to "Sign up", new_user_path, method: :get %>
              </li>
            <% end %>
            <li>
              <h3>~ A2KS ~</h3>
            </li>
          </ol>
        </nav>
      </div>
    </header>

    <%= yield %>

    <div class= "footer">
      <nav class="bottom-nav">
        <ol>
          <li>
            <%= button_to "About", page_path("about"), method: :get %>
          </li>
          <li>
            <%= button_to "Contact", page_path("contact"), method: :get %>
          </li>
        </ol>
      </nav>
    </div>
  </body>
</html>
