<!DOCTYPE html>
<html>
  <head>
    <title>A2KS</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      document.createElement('video');
      document.createElement('audio');
      document.createElement('track');
    </script>
  </head>
  <body>
    <fieldset class="header">
      <%= form_tag search_path, method: :get do %>
        <%= search_field_tag :search, params[:search], placeholder: "SEARCH" %>
        <%= submit_tag "GO" %>
      <% end %>

      <% if signed_in? %>
        <%= button_to "Sign out", session_path, method: :delete %>
        <%= button_to "My Page", user_path(current_user), method: :get %>
      <% else %>
        <%= button_to "Sign in", new_session_path, method: :get %>
        <%= button_to "Sign up", new_user_path, method: :get %>
      <% end %>
    </fieldset>

    <%= yield %>

    <fieldset class="footer">
      <%= link_to "Home", root_path %>
      <%= link_to "About", page_path("about") %>
      <%= link_to "Contact", page_path("contact") %>
    </fieldset>
  </body>
</html>
